$number = 0;
$times = 0.3s;
$position = 500px;

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
/* .slide-fade-leave-active for below version 2.1.8 */
.slide-fade-enter, .slide-fade-leave-to
{
  transform: translateX(500px);
  opacity: 0;
}


.fade-enter-active,.fade-leave-active{
  transition: all $times ease-in;
}
/* 进入开始 */
.fade-enter{
  transform: translateX(-$position);
  opacity: 0.5;
}
/* 出去终点 */
.fade-leave-active{
  transform: translateX($position);
  opacity: 1;

}

.slide-enter-active,.slide-leave-active{
  transition: all $times ease-out;
}
/* 进入开始 */
.slide-enter{
  transform: translateX($position);
  opacity: 1;
}
/* 出去终点 */
.slide-leave-active{
  transform: translateX(-$position);
  opacity: 0.5;
}


.scale-enter-active,.scale-leave-active{
  transition: all 0.2s ease-in;
}
/* 进入开始 */
.scale-enter{
  transform: scale(0.9);
  opacity: 0.1;
}
/* 出去终点 */
.scale-leave-active{
  transform: scale(1);
  opacity: 1;

}

.record-enter-active,.record-leave-active{
  transition: all 0.2s ease-in;
}
/* 进入开始 */
.record-enter{
  transform: translateX(200px);
  opacity: 0.2;
}
/* 出去终点 */
.record-leave-active{
  transform: translateX(-200px);
  opacity: 1;

}

.records-enter-active,.records-leave-active{
  transition: all 0.2s ease-in;
}
/* 进入开始 */
.records-enter{
  transform: translateX(0);
  opacity: 0.2;
}
/* 出去终点 */
.records-leave-active{
  transform: translateX(200px);
  opacity: 1;

}

