.base-background-img-blue-light {
  background-image: url('../assets/background/bg-blue-light.png');
  background-size: 100% 100%;
  background-color: #fff;
}
.base-background-img-blue {
  background-image: url('../assets/background/bg-blue.png');
  background-size: 100% 100%;
  background-color: #fff;
}
.base-background-img-red {
  background-image: url('../assets/background/bg-red.png');
  background-size: 100% 100%;
  background-color: #fff;
}
.base-background-img-yellow {
  background-image: url('../assets/background/bg-yellow.png');
  background-size: 100% 100%;
  background-color: #fff;
}
.base-background-img-gray {
  background-image: url('../assets/background/bg-gray.png');
  background-size: 100% 100%;
  background-color: #fff;
}
.base-background-img-green {
  background-image: url('../assets/background/bg-green.png');
  background-size: 100% 100%;
  background-color: #fff;
}
.base-background-img-blue-btn {
  background-image: url('../assets/background/bg-blue-btn.png');
  background-size: 100% 100%;
  background-color: #fff;
}
.base-background-img-green-btn {
  background-image: url('../assets/background/bg-green-btn.png');
  background-size: 100% 100%;
  background-color: #fff;
}

.base-equipment-empty-box {
  width: 92vw;
  height: 37.3333vw;
  box-sizing: border-box;
  background-image: url('../assets/background/bg-green.png');
  background-size: 100% 100%;
  background-color: #fff;
  border-radius: 1.33vw;
}