.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F5F5F5;
  z-index: 10;
}
.wrapper-white {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 10;
}
.scroll-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.scroll-wrapper-addition-title {
  position: fixed;
  top: 11.733333vw;
  bottom: 0;
  left: 0;
  right: 0;
}
.scroll-wrapper-head-and-bottom {
  position: fixed;
  top: 19.733333vw;
  bottom: 14.933vw;
  left: 0;
  right: 0;
}
.scroll-wrapper-page-title {
  height: calc(100vh - 11.733333vw);
}
.scroll-wrapper-page-index {
  height: calc(100vh - 11.733333vw - 3.7333vw - 3.7333vw - 7.5vw);
}
.scroll-wrapper-index-page {
  height: calc(100vh - 11.7333vw - 11.6666vw - 2.6666vw - 37.3333vw - 2.6666vw - 13.3333vw - 15vw);
}
.scroll-wrapper-service-page {
  height: calc(100vh - 11.7333vw - 2.6666vw - 37.3333vw - 2.6666vw - 13.3333vw - 15vw);
}
.scroll-wrapper-gate-index-page {
  height: calc(100vh - 11.7333vw - 2.6666vw - 37.3333vw - 2.6666vw - 13.3333vw - 15vw);
}
.scroll-wrapper-gate-service-page {
  height: calc(100vh - 11.7333vw - 2.6666vw - 37.3333vw - 2.6666vw - 13.3333vw - 15vw - 18.6666vw);
}
.scroll-wrapper-text-style {
  font-size: 4vw;
  color: rgba(51, 136, 255, 1);
}

.base-vertical-layout-general {
  display: flex;
  flex-direction: column;
}
.base-vertical-layout-general-item-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-vertical-layout-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.base-vertical-layout-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.base-vertical-layout-center-item-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.base-vertical-layout-right-item-right {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}
.base-vertical-layout-space-between-item-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.base-vertical-layout-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.base-vertical-layout-space-between-item-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.base-horizontal-layout-general {
  display: flex;
  flex-direction: row;
}
.base-horizontal-layout-general-item-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.base-horizontal-layout-end-item-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end
  align-items: center;
}
.base-horizontal-layout-general-item-center-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.base-horizontal-layout-general-item-end {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.base-horizontal-layout-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.base-horizontal-layout-center-item-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.base-horizontal-layout-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.base-horizontal-layout-right-item-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.base-horizontal-layout-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.base-horizontal-layout-right-item-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
}
.base-horizontal-layout-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.base-horizontal-layout-space-between-item-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.base-text-title-large-xx-black {
  font-size: 5.3333vw;
  color: #333333;
}
.base-text-title-large-666 {
  font-size: 4.8vw;
  color: #666;
}
.base-text-title-large-666-bold {
  font-size: 4.8vw;
  color: #666;
  font-weight: bold;
}
.base-text-title-large-red-bold {
  font-size: 4.8vw;
  color: #D72A25;
  font-weight: bold;
}
.base-text-title-normal-black {
  font-size: 4.2666vw;
  color: #333333;
}
.base-text-title-normal-666 {
  font-size: 4.2666vw;
  color: #666666;
}
.base-text-title-normal-blue {
  font-size: 4.2666vw;
  color: #3388FF;
}
.base-text-title-normal-gray {
  font-size: 4.2666vw;
  color: #999999;
}
.base-text-title-normal-white {
  font-size: 4.2666vw;
  color: white;
}
.base-text-details-large-black {
  font-size: 3.7333vw;
  color: #333333;
}
.base-text-details-large-black-666 {
  font-size: 3.7333vw;
  color: #666666;
}
.base-text-details-large-black-light {
  font-size: 3.7333vw;
  color: #4D4D4D;
}
.base-text-details-large-black-black {
  font-size: 3.7333vw;
  color: #000;
}
.base-text-details-large-gray {
  font-size: 3.7333vw;
  color: #999999;
}
.base-text-details-large-gray-ccc {
  font-size: 3.7333vw;
  color: #CCCCCC;
}
.base-text-details-large-blue {
  font-size: 3.7333vw;
  color: #3388FF;
}
.base-text-details-large-red-dark {
  font-size: 3.7333vw;
  color: #D72A25;
}
.base-text-details-large-white {
  font-size: 3.7333vw;
  color: white;
}
.base-text-details-normal-black {
  font-size: 3.2vw;
  color: #333333;
}
.base-text-details-normal-white{
  font-size: 3.2vw;
  color: white;
}
.base-text-details-normal-white-bold {
  font-size: 3.2vw;
  font-weight: bold;
  color: white;
}
.base-text-details-normal-black-666 {
  font-size: 3.2vw;
  color: #666666;
}
.base-text-details-normal-black-light {
  font-size: 3.2vw;
  color: #4D4D4D;
}
.base-text-details-normal-gray-dark {
  font-size: 3.2vw;
  color: #808080;
}
.base-text-details-normal-gray {
  font-size: 3.2vw;
  color: #999999;
}
.base-text-details-normal-gray-light {
  font-size: 3.2vw;
  color: #B3B3B3;
}
.base-text-details-normal-gray-ccc {
  font-size: 3.2vw;
  color: #CCCCCC;
}
.base-text-details-normal-blue {
  font-size: 3.2vw;
  color: #3388FF;
}
.base-text-details-normal-green {
  font-size: 3.2vw;
  color: #13AA95;
}
.base-text-details-normal-red {
  font-size: 3.2vw;
  color: #FF3333;
}
.base-text-details-small-black-light {
  font-size: 2.67vw;
  color: #4D4D4D;
}
.base-text-details-small-gray-light {
  font-size: 2.67vw;
  color: #CCCCCC;
}
.base-text-details-small-white {
  font-size: 2.67vw;
  color: #FFF;
}

.base_text_justify-align_display { /** 文字设置宽度两端居中 **/
  text-align:justify;
  text-align-last:justify;
  display: -moz-inline-box;
  display: inline-block;
}

.base_text_details_normal_line-clamp-1 {
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  overflow: hidden;
  font-size: 3.2vw;
  color: #333333;
  line-height: 5.2vw !important;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.base_text_details_large_line-clamp-1 {
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  overflow: hidden;
  font-size: 3.73vw;
  color: #666666;
  line-height: 5.3333vw !important;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
}



// 弹窗样式
.popup-text {
  width: 100%;
  margin-top: 6.4vw;
  font-size: 3.47vw;
  color: #4D4D4D;
  line-height: 5vw;
  text-align: center;
}
.popup-input {
  width: 100%;
  height: 12vw;
  margin-top: 4vw;
  background-color: #F2F3F5;
  border-radius: 6vw;
  font-size: 3.47vw;
  color: #666;
  text-align: center;
}


// 高德地图
.amap-custom-content-marker {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.87vw;
  height: 5.87vw;
  background: rgba(36, 179, 179, 1);
  border: 0.66vw solid rgba(255, 255, 255, 1);
  box-shadow: 0 1.33vw 2.67vw rgba(20, 54, 102, 0.1);
  border-radius: 50%;
  opacity: 1;
}
.amap-custom-content-marker img {
  width: 3.2vw;
  height: 3.2vw;
}
.amap-marker-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 10vw;
  background-color: transparent;
  border-width: 0;
}
.amap-custom-content-marker-info {
  padding: 2.67vw 5.33vw;
  box-shadow: 0 1.33vw 2.67vw rgba(20, 54, 102, 0.2);
  border-radius: 4.8vw;
  border-width: 0;
  background-color: white;
  font-size: 3.2vw;
  color: #4D4D4D;
}


// 修改原来组件样式
.cube-dialog-main{
    border-radius: 2.6667vw;
    width: 84vw;
    .cube-dialog-title-def{
        font-size: 4.2667vw;
        color: #333;
        margin:0
        height: 13.3333vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cube-dialog-content{
        min-height: 9.3333vw;
        margin: 2.6667vw auto 5.3333vw auto;
    }
    .cube-dialog-btns{
        &:after{
            height: 100%;
            top: 25%;
            border-color: #DADFE6 !important;
        }
        .cube-dialog-btn{
            height: 16vw;
            line-height: 16vw;
            padding: 0;
            &:before{
                content: none;
            }
        }
    }
}

