.base-button-fixed-bottom {
  width: 100vw;
  height: 9.3333vw;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  justify-content: center;
  padding: 3.3333vw 0 6.3333vw 0;
}
.base-button-fixed-bottom-bk-gray {
  width: 100vw;
  height: 9.3333vw;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  justify-content: center;
  padding: 3.3333vw 0 6.3333vw 0;
  background-color: #F5F5F5;
}
.base-button-fixed-bottom-bk-white {
  width: 100vw;
  height: 9.3333vw;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  justify-content: center;
  padding: 3.3333vw 0 6.3333vw 0;
  background-color: white;
}
.but_text_line_height{
  height: 5.33vw;
  line-height: 5.33vw;  
}