.base-button-fixed-bottom {
  width: 100vw;
  /*height: 50vw;*/
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 5.33vw;
}
.base-button-fixed-bottom-bk-gray {
  width: 100vw;
  height: 9.3333vw;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  justify-content: center;
  background-color: #F5F5F5;
  padding: 5.3333vw 0;
  margin: 0;
}