.base-icon-small-style {
  width: 3.2vw;
  height: 3.2vw;
}
.base-icon-normal-style {
  width: 4.2666vw;
  height: 4.2666vw;
}
.base-icon-large-style {
  width: 5.3333vw;
  height: 5.3333vw;
}
img{
  pointer-events:none;/* 禁止长按图片保存 */
}