// // 公共样式文件

// $mainColor = #1f75fe      // 主题色
// $bgColor = #f5f5f5        //  背景色
// $lineColor = #f5f5f5      // 分割线颜色
// $highColor = #ebebeb      // 高亮颜色
// $boxShadowColor = #d3d3d3   // 阴影颜色
// $selectColor = #1f75fe      // 选中颜色
// $titleColor = #515151       // 标题颜色
// $subTitleColor = #aaaaaa    // 子标题颜色
// $modalBgColor = rgba(0, 0, 0, 0.5);   // 模态背景颜色
// $disabledColor = #aaaaaa    //禁止点击颜色

// // 间距
// $spacing = 10px           // 默认 10px 间距
// $spacing_5px = 5px        // 5px 边距
// $spacing_15px = 15px      // 15px 边距

// // 圆角
// $borderRadius = 3px               // 默认 3px 圆角
// $borderRadius_5px = 5px           // 5px 圆角
// $borderRadius_10px = 10px         // 10px 圆角

// // 文字大小
// $fontSize = 0.7rem       // 默认字体
// $smallFontSize = 0.6rem   // 小字体
// $miniFontSize = 0.55rem   // 最小字体

// border-top-1px($color)
//   position: relative
//   &::before
//     content: ''
//     display: block
//     position: absolute
//     left: 0
//     top: 0
//     width: 100%
//     border-bottom: 1px solid $color
// border-bottom-1px($color)
//   position: relative
//   &::after
//     content: ''
//     display: block
//     position: absolute
//     left: 0
//     bottom: 0
//     width: 100%
//     border-bottom: 1px solid $color

// border-right-1px($color)
//   position: relative
//   &::after
//     content: ''
//     display: block
//     position: absolute
//     right: 0
//     bottom: 0
//     height: 100%
//     border-right: 1px solid $color

